'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'R-exec'
      'submenu': [
        { 'label': 'Send code to R', 'command': 'r-exec:send-command'}
        { 'label': 'Change working directory', 'command': 'r-exec:setwd'}
      ]
    ]
  }
]
